.dropdown-item {
  display: flex;
  align-items: center;
  height: 60px;
}

.dropdown-item img {
  height: 50px;
  margin-right: 10px;
}
.tutorial {
  width: 600px;
  text-align: center;
  margin: auto;
}
